footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5vw;
    background-color: black;
    color: #ffffff;
}

footer > p > a {
    color: #ffffff;
    font-weight: bolder;
    transition: all .3s ease;
}

footer > p > a:hover {
    text-decoration: underline;
}