header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vw;
    min-height: 125px;
    max-height: 250px;
    background-color: #000000;
    color: #ffffff;
}

.header-title {
    font-family: var(--font-title);
    font-weight: lighter;
    font-size: 5vw;
}

.header-subtitle > a{
    color: #ffffff;
    font-weight: bolder;
    transition: all .3s ease;
}

.header-subtitle > a:hover {
    text-decoration: underline;
}